# dependencies
/node_modules

# local data
/uploads
/.pglite

# testing
/coverage

# env files (only .env.example is committed)
.env
.env.*
!.env.example

# logs & misc
*.log
.DS_Store
*.pem
**/*.trace
**/*.tgz
**/*.bun
package-lock.json
